* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding-top: 20px;
  position: fixed;
  background-color: #ffffff;
}

.navlinks {
  display: flex;
  padding-left: 5px;
  cursor: pointer;
}

.navlinks span img {
  margin-top: -20px;
  width: 100%;
  height: 90%;
}

.navlinks ul {
  display: flex;
}

.navlinks ul li {
  list-style-type: none;
  margin-left: 15px;
  margin-top: 10px;
}

.navlinks ul a {
  text-decoration: none;
  color: #032d60;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.navlinks a:hover {
  color: #33769d;
}

.nav-link {
  display: flex;
}

.contact {
  margin-left: -450px;
}

.contact p:first-of-type {
  font-size: 18px;
  padding-bottom: 3px;
  text-decoration: underline;
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
}

.contact p:first-of-type:hover {
  color: #33769d;
}

.nav-link span {
  padding-left: 3px;
  cursor: pointer;
}

.nav-link img {
  width: 25px;
  height: 30px;
  margin-left: 15px;
  padding-top: 8px;
  cursor: pointer;
}

.nav-link button {
  font-size: 18px;
  padding: 10px 15px;
  background-color: green;
  border: green;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}

.nav-link button:hover {
  background-color: rgb(5, 40, 5);
}

.nav-link span {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 10px;
}

.bannersection {
  height: 500px;
  display: flex;
  padding-top: 100px;
  margin-bottom: 100px;
}

.bannertexts {
  padding-top: 80px;
  padding-left: 60px;
}

.bannertexts h1 {
  font-size: 40px;
  color: #032d60;
  font-family: "Arial black";
}

.bannertexts p {
  padding-top: 19px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #050f1b;
  line-height: 1.5;
  font-weight: 500;
}

.bannersection button:first-of-type {
  margin-top: 28px;
  padding: 15px 25px;
  background-color: blue;
  border: blue;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
}

.bannersection button:first-of-type:hover {
  background-color: #032d60;
}

.bannersection button:last-of-type {
  margin-left: 10px;
  padding: 13px 25px;
  background-color: #fff;
  border: 2px solid blue;
  cursor: pointer;
  color: blue;
  font-size: 18px;
  border-radius: 5px;
}

.bannersection button:last-of-type:hover {
  background-color: rgb(221, 237, 242);
  border: 2px solid #050f1b;
}

.sectionbelowbanner {
  height: auto;
  margin: 0px 50px;
}

.sectionbelowbannertext p {
  font-size: 30px;
  color: #032d60;
  text-align: center;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 40px;
}

.col3 {
  display: flex;
  gap: 30px;
}

.col3 img {
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  cursor: pointer;
}

.col3texts1 {
  background-color: #fff;
  color: #050f1b;
  font-size: 23px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px 40px;
  margin-bottom: 10px;
  margin-top: -5px;
  box-shadow: 2px 3px 7px 0px #b1afaf;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.col3texts1 p:last-of-type {
  padding-top: 20px;
  padding-bottom: 15px;
}

.col3texts1 p:hover {
  color: #33769d;
}

.col3texts1 a {
  color: #050f1b;
  font-size: 16px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.col3texts1 a:hover {
  color: #33769d;
}

.col3texts2 {
  background-color: #fff;
  color: #050f1b;
  font-size: 23px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px 20px;
  padding-bottom: 40px;
  margin-bottom: 10px;
  margin-top: -5px;
  box-shadow: 2px 3px 7px 0px #b1afaf;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.col3texts2 p:last-of-type {
  padding-top: 47px;
  padding-bottom: 7px;
}

.col3texts2 p:hover {
  color: #33769d;
}

.col3texts2 a {
  color: #050f1b;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.col3texts2 a:hover {
  color: #33769d;
}

.col3texts3 {
  background-color: #fff;
  color: #050f1b;
  font-size: 23px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
  margin-bottom: 10px;
  margin-top: -5px;
  box-shadow: 2px 3px 7px 0px #b1afaf;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.col3texts3 p {
  padding-bottom: 19px;
}

.col3texts3 p:hover {
  color: #33769d;
}

.col3texts3 a {
  color: #050f1b;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.col3texts3 a:hover {
  color: #33769d;
}

.learn {
  height: auto;
}

.learn p:first-of-type {
  color: #032d60;
  font-size: 30px;
  font-weight: 600;
  padding: 50px;
  margin-left: 230px;
  margin-right: 230px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.col4 {
  display: flex;
  gap: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

.col4 img {
  width: 100%;
}

.col4texts {
  padding-left: 20px;
}

.col4 p:first-of-type {
  font-size: 20px;
  color: #032d60;
  padding: 0px;
  padding: 20px 0px;
  padding-top: 40px;
  margin: 0px;
  text-align: left;
}

.col4 p:last-of-type {
  color: #03101f;
  font-size: 15px;
  line-height: 1.3;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 20px;
}

.col4 a {
  color: #03101f;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  padding-bottom: 20px;
}

.col4 a:hover {
  color: #33769d;
}

.sec3 {
  margin: 50px;
}

.sec3 h1 {
  text-align: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: #050f1b;
  font-weight: 600;
  padding-top: 50px;
  padding-bottom: 30px;
}

.sec3 p {
  text-align: center;
  font-size: 18px;
  color: #03101f;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
}

.sec3 button {
  font-size: 20px;
  color: #0176d3;
  background-color: #fff;
  padding: 20px 30px;
  border: 2px solid #0176d3;
  margin-left: 530px;
  margin-top: 30px;
}

.sec3 button:hover {
  background-color: rgb(233, 239, 242);
  border: 2px solid #050f1b;
  color: #03101f;
}

.sec3img {
  display: flex;
  padding-top: 50px;
  padding-left: 350px;
  padding-right: 250px;
  cursor: pointer;
}

.sec3img img {
  width: 60%;
  height: 60%;
  box-shadow: 2px 3px 5px 3px #dedcdc;
  padding: 20px;
  border-radius: 50px;
  margin-left: 20px;
}

.sec3img p:hover {
  color: #0176d3;
  cursor: pointer;
}

.sec3img1 p {
  padding-right: 30px;
}

.sec3img2 p {
  padding-right: 30px;
}

.section4 {
  height: auto;
}

.section4 img {
  width: 100%;
  height: 100%;
}

.section4 h3 {
  font-size: 38px;
  color: #03101f;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 25px;
  padding-left: 230px;
  padding-right: 230px;
}

.section4 p {
  font-size: 20px;
  color: #03101f;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 30px;
}

.section4 button {
  font-size: 20px;
  padding: 10px 20px;
  background-color: #fff;
  color: #0176d3;
  border: 2px solid #0176d3;
  border-radius: 5px;
  margin-left: 530px;
  margin-bottom: 50px;
}

.section4 button:hover {
  background-color: #dedcdc;
  border: 2px solid #03101f;
  color: #03101f;
}

.sec4logos {
  display: flex;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 30px;
}

.sec4logos img {
  width: 300px;
  height: 120px;
  box-shadow: 2px 3px 5px 3px #dedcdc;
  padding: 20px;
  border-radius: 10px;
  margin-left: 20px;
}

.section5 {
  height: auto;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 60px;
  margin-right: 60px;
}

.sec5col3texts h6 {
  margin-left: 10px;
  margin-right: 300px;
  color: #032d60;
  padding: 10px;
  background-color: #d2edff;
  border-radius: 20px;
}

.section5 h2 {
  font-size: 30px;
  color: #032d60;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 25px;
  padding-left: 10px;
  padding-top: 40px;
}

.section5 p {
  font-size: 20px;
  color: #032d60;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 30px;
   text-align: center;
  padding-left: 10px;
  padding-right: 5px;
  line-height: 1.5;
}

.section5 h2 {
  cursor: pointer;
}

.sec5col3 {
  display: flex;
  gap: 40px;
  margin-bottom: 10px;
}

.sec5col3 img {
  width: 70%;
  cursor: pointer;
  padding-top: 20px;
  padding-left: 80px;
}

.sec5col3texts  {
  background-color: #fff;
  color: #050f1b;
  font-size: 20px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 25px;
}

.sec5col3texts p{
  font-size: 18px;
}

.sec5col3texts {
  box-shadow: 2px 3px 7px 3px #b1afaf;
}

.sec5col3texts p:last-of-type {
  padding-top: 10px;
}

.sec5col3texts a {
  color: #032d60;
  font-size: 17px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.sec5col3texts a:hover {
  text-decoration: none;
}

.section5 button{
  font-size: 18px;
  padding: 16px 25px;
  background-color: #fff;
  color: #0176d3;
  border: 2px solid #0176d3;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 500px;
}

.section5 button:hover{
   background-color: #dedcdc;
  border: 2px solid #03101f;
  color: #03101f;
}
