* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 98%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  background-color: #ffffff;
}


.navlinks span img {
  margin-top: -20px;
  width: 100%;
  height: 90%;
}
